<div class="footer">
  <div class="footer-copyright">
    Website made by Maxime - all rights reserved
  </div>
  <div class="footer-links">
    <a href="https://github.com/MaxOudin"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/maxime-oudin-developer/"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
