.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 35vw;
  overflow: hidden;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.cover-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  width: 170px;
  height: 170px;
}

.card-infos {
  align-self: center;
  margin-left: 6px;
}

.card-infos p {
  margin-bottom: 7px;
}

.card-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 6px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
