.card {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 40vw;
  overflow: hidden;
  background-color: #F8F8F8;
}

.card-category {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  height: -webkit-fill-available;
  min-height: 100%;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-infos {
  align-self: center;
  margin-left: 6px;
}

.card-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 6px;
}

.fa-play {
  border-radius: 50%;
  color: white;
}
