.card {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 40vw;
  overflow: hidden;
  background-color: #F8F8F8;
  margin-bottom: 8px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12px;
}

.card-category {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  height: -webkit-fill-available;
  min-height: 100%;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-infos {
  align-self: center;
  margin-left: 6px;
}

.card-infos p {
  margin-bottom: 2px;
}

.card-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 6px;
  height: 100%;
}

.btn-container {
  display: flex;
  align-items: center;
}
