.footer {
  background: black;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: white (0,0,0,0.8);
  margin-top: 12px;
}

.footer-copyright {
  color: white;
  opacity: 0.7;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}
