.navbar {
  display: flex;
  justify-content: space-between;
  background: #50D5B7;
  height: 80px;
  color: white;
  font-size: 18px;
}

.navbar-brand img {
  width: 100px;
  height: auto;
  margin-left: 30px;
}
