.navbar {
  display: flex;
  justify-content: space-between;
  background: #6ae2c6;
  height: 80px;
  color: white;
  font-size: 18px;
}

.navbar-brand img {
  width: 100px;
  height: auto;
  margin-left: 5vw;
}

.nav-link {
  color: white;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  flex-grow: 0 !important;
  margin-right: 5vw;
}
