.search-container {
  display: grid;
  justify-content: end;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  background-color: #0D160B;
  width: fit-content;
  border-radius: 3px;
}

.search-bar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  font-size: 18px;
}

.btn-search {
  align-self: center;
  background-color: #0D160B;
  color: white;
  padding: 8px;
  border-radius: 3px;
}

.fa-solid {
  padding: 8px;
  border-radius: 50%;
  border: solid 1px black;
}

@media screen and (max-width: 600px) {
  .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
