.shazam-bg {
  min-height: 42vh;
  width: 100%;
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shazam-bg h2 {
  font-size: 42px;
  text-wrap: balance;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: .5px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
