<h2>music show</h2>

<h3>Search Music</h3>
<div class="search-container">
  <form id="search-form" action="/musics/search" method="get">
    <div class="search-bar">
      <input type="text" name="query" placeholder="Search...">
      <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </form>
</div>


